doctype html
// ------------------------- 
// Generated with SimpleDoc. 
// ------------------------- 
html(lang="en")
head
  style=css
  script!=js
  script
    | $(document).ready(function() {
    |   var left = $('#left');
    |   var mobileNav = $('#mobileNav');
    |   mobileNav.on('click', function() {
    |     left.removeClass('mobileHide');
    |   });
    |   $('a', left).on('click', function() {
    |     left.addClass('mobileHide');
    |   });
    | });
body
  #mobileNav
    p &lArr;
  #mainContainer
    #mainRow
      #left.mobileHide
        ul#headers(data-spy='affix')
          each header in headers
            li(class='left-' + header.type)
              a(href=header.anchor)=header.text
      #right
        !=content
        #lastUpdated
          section
            p #{updated}
