doctype html
// ------------------------- 
// Generated with SimpleDoc. 
// ------------------------- 
html(lang="en")
head
  style=css
body
  #mobileNav
    p Table of Contents &uArr;
  #mainContainer
    #mainRow
      #left
        ul#headers(data-spy='affix')
          each header in headers
            li(class='left-' + header.type)
              a(href=header.anchor)=header.text
      #right
        !=content
        #lastUpdated
          section
            p #{updated}
