#left {
  position: fixed;
  background: @bgLeft;
  height: 100%;
  padding: 50px 50px 0 50px;
  float: left;
  width: 300px;
  overflow-y: auto;
}

#left ul {
  padding: 0;
  margin: -10px 0 100px 0;
}

#left li {
  list-style: none;
  font-family: 'Raleway', serif;
}

#left li a {
  color: #B9C0CF;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: 150ms padding;
}

#left li a:hover {
  padding-left: 10px;
  color: #89D2BE;
}

#left li.left-h1 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

#left li.left-h1 a {
  color: #7F8BA0;
}

.left-h2 {
  padding-left: 0;
}

.left-h3 {
  padding-left: 25px;
  display: none;
}

.left-h4 {
  padding-left: 50px;
  display: none;
}

.left-h5 {
  padding-left: 75px;
  display: none;
}

.left-h6 {
  padding-left: 100px;
  display: none;
}
