#right {
  padding: 0;
  margin-left: 400px;
  max-width: 800px;
}

#right section {
  padding: 0 50px;
}

#right section p:last-child {
  margin-bottom: 0;
}

#right #lastUpdated {
  padding: 50px 0;
  font-size: 14px;
  font-style: italic;
}
