// Some responsive stuff
@responsiveBreak: 768px;

// Colours
@bgMain: #fff;
@bgLeft: #eef0f4;
@accentLight: #89D2BE;
@accentDark: #7F8BA0;
@fontColor: #ABB4C5;

// Sizes and padding
@padding: 50px;
@leftColWidth: 300px;
@rightColMaxWidth: 800px;

// Typography
@fontFamilyBody: 'Open Sans', sans-serif;
@fontFamilyHeaders: 'Raleway', serif;
@fontSize: 18px;
@lineHeight: 26px;
